<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href='/flights'>ALL FLIGHTS</a>
        <a href='/flights/new'>ADD FLIGHTS</a>
    </nav>
    <fieldset class="flight-info">
        <table class="flight-info-table">
            <thead>
                <tr>
                    <th>AIRLINE</th>
                    <th>AIRPORT</th>
                    <th>FLIGHT NO.</th>
                    <th>DEPARTURE TIME</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% flights.forEach(f => { %>
                 <tr>
                     <td><%= f.airline %></td>
                     <td><%= f.airport %></td>
                     <td><%= f.flightNo %></td>
                     <td><%= f.departs %></td>
                 </tr>
                <% }) %>
            </tbody>
            <thead2>
                <tr>
                    <th>DESTINATION AIRPORT</th>
                    <th>ARRIVAL TIME</th>
                </tr>
            </thead2>
            <tbody2>
                <% flights.destinations.forEach(des => { %>
                 <tr>
                     <td><%= des.airport %></td>
                     <td><%= des.arrival %> </td>
                 </tr>
                <% }) %> 
                <tr>
                    
                </tr>
            </tbody2>
        </table>

    </fieldset>

</body>
</html>