<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href='/flights'>ALL FLIGHTS</a>
        <a href='/flights/new'>ADD FLIGHTS</a>
    </nav>
    <fieldset class="flight-info">
        <table class="flight-info-table">
            <thead>
                <tr>
                    <th>AIRLINE</th>
                    <th>AIRPORT</th>
                    <th>FLIGHT NO.</th>
                    <th>DEPARTURE TIME</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                 <tr>
                     <td><%= flights.airline %></td>
                     <td><%= flights.airport %></td>
                     <td><%= flights.flightNo %></td>
                     <td><%= flights.departs %></td>
                 </tr>
            </tbody>
            <thead2>
                <tr>
                    <th></th>
                    <th>DESTINATION AIRPORT</th>
                    <th></th>
                    <th>ARRIVAL TIME</th>
                </tr>
            </thead2>
            <tbody2>
                <% flights.destinations.forEach(des => { %>
                 <tr>
                     <td></td>
                     <td><%= des.airport %></td>
                     <td></td>
                     <td><%= des.arrival %> </td>
                 </tr>
                <% }) %> 
                <tr>
                    
                </tr>
            </tbody2>
        </table>
    </fieldset>
    <form id="new-destination" action="/flights/<%= flights.id %>/destinations" method="POST">
    <h3>Add Your Destination</h3>
        <fieldset id="destination-info-new">
                <select name="airport">
                    <option value="AUS">ATL</option>
                    <option value="DFW">DFW</option>
                    <option value="DEN" selected>DEN</option>
                    <option value="LAX">LAX</option>
                    <option value="SAN">SAN</option>
                </select>
                <label>Arrival Date & Time</label>
                <input type="datetime-local" name="arrival" id="date-input">
                <button type="submit">Add Flight</button>
        </fieldset>
    </form>


</body>
</html>